@page
@model CRUD.Pages.Delete

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post" asp-page="Delete">
        <div class="form-group">
            <input type="hidden" asp-for="Person.Id"/>
        </div>
        <div class="form-group">
            <a>Фамилия</a><br>
            <input type="text" asp-for="Person.LastName"/>
        </div>
        <div class="form-group">
            <a>Имя</a><br>
            <input type="text" asp-for="Person.FirstName"/>
        </div>
        <div class="form-group">
            <a>Номер телефона</a><br>
            <input type="text" asp-for="Person.PhoneNumber"/>
        </div>
        <div class="form-group">
            <a>Почта</a><br>
            <input type="text" asp-for="Person.Email"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Удалить" asp-route-toDelete="true">
            <input type="submit" value="Отменить" asp-route-toDelete="false">
        </div>
    </form>
</div>
</body>
</html>